body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
